*{
    scroll-behavior: smooth;
}

.shade{
    transition: transform .2s;
}

.shade:hover{
    scale: (1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}